html{
    
    background-color: antiquewhite;
    padding: 50rem;
    margin: 1rem;
}

.experiencialaboral {
    display: flex;
    background: #5DEAA8;
    padding: 10rem;
    margin: 1rem;
}
.construven {
    display: flex;
    flex-direction: column;
    border-radius: 25%;
    text-align: justify;
    background: #adc5ba;
    height: 250px;
    width: 250px;
    padding: 2rem;
    margin: .5rem;
    border-top-left-radius: 15%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 30%;
}
.brisas{
    display: flex;
    text-align: justify;
    background: #adc5ba;
    height: 250px;
    width: 250px;
    padding: 2rem;
    margin: .5rem;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}
.hcali{
    display: flex;
    text-align: justify;
    background: #adc5ba;
    height: 250px;
    width: 250px;
    padding: 2rem;
    margin: .5rem;
    border-top-left-radius: 30%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 15%;
}
h3{
    text-transform: uppercase;
    color: antiquewhite;
}
/* ol {
    text-transform: uppercase;
    
    text-align: center;
    
}

https://devcode.la/tutoriales/modelo-caja-css/ */
